.login {
  display: flex;
  height: 100vh;
  width: 100vw;

  .left {
    background-color: #e3f3df;
    flex: 0.2;

    .top {
      margin-top: 120px;
      width: 40vw;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      justify-content: center;
    }

    .center {
      margin-top: 38px;
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .loginInstructionsContainer {
        width: 26vw;
        flex-direction: column;

        p:nth-child(1) {
          font-weight: 700;
          font-size: 20px;
        }

        p:nth-child(2) {
          margin-top: 10px;
          font-size: 16px;
          color: grey;
        }
      }

      form {
        margin-top: 30px;
        width: 26vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          margin: 10px 0px;

          span {
            font-size: 14px;
            color: #0c8054;
          }

          input {
            margin-top: 10px;
            height: 35px;
            width: 26vw;
            border: none;
            border-radius: 8px;
            background-color: #c8d7c2;
            text-indent: 10px;
          }

          input[type="email"],
          input[type="password"] {
            color: rgb(96, 94, 94);
            font-weight: 500;
          }
        }

        .button {
          margin-top: 35px;
          text-align: center;

          button {
            border: none;
            height: 32px;
            width: 120px;
            border-radius: 6px;
            background-color: #004241;
            color: white;
            font-family: "Inter";
            font-weight: 600;
            transition: 0.1s;

            &:hover {
              height: 34px;
              width: 122px;
              cursor: pointer;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
          }

          p {
            margin-top: 8px;
            font-size: 12px;
            color: red;
            text-align: center;
          }
        }
      }
    }

    .bottom {
      margin-top: 50px;
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 16px;
        color: grey;
      }

      .link {
        font-size: 16px;
        color: grey;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .right {
    background-color: #435b3d;
    flex: 0.8;

    .top {
      margin-top: 68px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // width: 60vw;

      .title {
        font-family: "Lora";
        color: #efffe8;
        font-size: 120px;
        font-weight: bold;
        letter-spacing: 20px;
        margin-right: -20px;
        // span {
        //   font-family: "Lora";
        //   color: #c8d7c2;
        // }
      }
      .subtitle {
        font-family: "Inter";
        color: #c8d7c2;
        font-size: 16px;
        letter-spacing: 2px;
        margin-right: -2px;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      // width: 60vw;

      img {
        height: auto;
        width: 46vw;
      }
    }
  }
}
